{% extends "base.html" %}

{% block content%}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Choose What You Want</h1>
            <p class="lead fw-normal text-white-50 mb-0">Shopping Make you Happy. So explore....</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p class="my-5 text-justify" style="text-align:justify">
                  <h2>Log In</h2>

                  <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Enter Your Name">
                    </div>
                    <div class="mb-3">
                         <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                     <br><br><br>
                </form>
            </div>
        </center>
       
{% endblock %}